<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-lg-6">
      <div class="signup d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2>ログイン</h2>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: 'form-control' %>
                <%= f.label :email %>