.user-information {
  &__image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
  }
  &__name {
    display: inline-block;
  }
  &__icon {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
  }
}

.calory-list__item {

    &__activity {
    text-align: center;
    }
    &__intake {
    text-align: center;
    }
    &__value {
      font-size: 45px;
  }
}


.macro-list__item {
  &__protein {
    background-color: #ff7f7f !important;
    text-align: center;
  }
  &__fat {
    background-color: #7fffff !important;
    text-align: center;
  }

  &__carbo {
    background-color: #bfff7f !important;
    text-align: center;
  }
  &__value {
    &__char {
      font-size: 30px;
    }
  }
}



