/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "jquery.tagit";
@import "tagit.ui-zendesk";

a {
  color: black;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}



@font-face {
  font-family: 'Clinton';
  src: font-url('ClintonBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-orange {
  background-color: #f8b862;
}

.btn-orange:hover {
  background-color: #c7914a;
}

.btn-gray {
  background-color: #9ea1a3;
  color: white;
}

.badge-gray {
  background-color: #9ea1a3;
  color: white;
}

.badge-blue {
  background-color: #83ccd2;
}

@media (max-width: 575.98px) {
  .responsive-font {
    font-size: 0.9rem;
  }
  .responsive-font2 {
    font-size: 0.8rem;
    padding: 0;
  }
}

@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon.eot?qjypht');
  src: font-url('icomoon.eot?qjypht#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf?qjypht') format('truetype'),
    font-url('icomoon.woff?qjypht') format('woff'),
    font-url('icomoon.svg?qjypht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"],
[class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-circle:before {
  content: "\e900";
}

.fa-clock:before {
  content: "\e901";
}

.fa-file-upload:before {
  content: "\e902";
}

.fa-link:before {
  content: "\e903";
}

.fa-angle-double-left:before {
  content: "\e904";
}

.fa-angle-double-right:before {
  content: "\e905";
}

.fa-angle-left:before {
  content: "\e906";
}

.fa-angle-right:before {
  content: "\e907";
}

.fa-calendar:before {
  content: "\e908";
}

.fa-comment:before {
  content: "\e909";
}

.fa-heart:before {
  content: "\e90a";
}

.fa-image:before {
  content: "\e90b";
}

.fa-map-marker-alt:before {
  content: "\e90c";
}

.fa-minus-square:before {
  content: "\e90d";
}

.fa-paper-plane:before {
  content: "\e90e";
}

.fa-pencil-alt:before {
  content: "\e90f";
}

.fa-plus-square:before {
  content: "\e910";
}

.fa-search:before {
  content: "\e911";
}

.fa-sync-alt:before {
  content: "\e912";
}

.fa-tags:before {
  content: "\e913";
}

.fa-thumbs-up:before {
  content: "\e914";
}

.fa-trash:before {
  content: "\e915";
}

.fa-user-edit:before {
  content: "\e916";
}

.fa-user-check:before {
  content: "\e917";
}

.fa-user-plus:before {
  content: "\e918";
}