.container {
  max-width: 1170px;
  margin: auto;
}

.incoming_msg_img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
}

.outgoing_msg_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 10px;
  float: right;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  // width: 92%;
}

.received_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  // width: 100%;
}

.time_date {
  &__right {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    float: right;
  }
  &__left {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    float: left;
  }
}



.mesgs {
  // float: left;
  padding: 30px 15px 0 25px;
  // width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  // width: 100%;
}

.incomming_msg,
.outgoing_msg {
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  // width: 46%;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;

}