<%= render "layouts/header" %>
<div class="container-fluid px-5 py-3">
  <h3>タグ「<%= @tag_name %>」の一覧</h3>
  <div class="d-flex flex-wrap justify-content-around">
    <%= render @products %>
  </div>
</div>
<%= render "layouts/footer" %>